# H1 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

__Objectives:__

* List popular languages for Data Science
* List commonly used libraries by Data Scientists
* Table of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. Julia
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Spark
3. TensorFlow

|Data Science Tools|
|------------------|
|Hadoop|
|Spark|
|Anaconda|

### H3 Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## H2 Author
Lehlohonolo Mokoena